Library/
ProjectSettings/
TwinStickDownloads/Downloaded Assets/START Pack/.DS_Store
TwinStickDownloads/Downloaded Assets/START Pack/Materials.meta
TwinStickDownloads/Downloaded Assets/START Pack/Materials/.DS_Store
TwinStickDownloads/Downloaded Assets/START Pack/Materials/unnamed.mat
TwinStickDownloads/Downloaded Assets/START Pack/Materials/unnamed.mat.meta
TwinStickDownloads/Downloaded Assets/START Pack/selfie stick.blend
TwinStickDownloads/Downloaded Assets/START Pack/selfie stick.blend.meta
TwinStickDownloads/Downloaded Assets/START Pack/selfie stick.fbx
TwinStickDownloads/Downloaded Assets/START Pack/selfie stick.fbx.meta
TwinStickDownloads/TS03-Section-Notes (1).pdf
TwinStickDownloads/TS03-Section-Notes with Note Space.pdf
TwinStickDownloads/TS03-Section-Notes (1).pdf
*.pdf
